@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 640px;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: '#000';
  border-radius: 10px;
}
